{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jmap/jqvmap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link href="{% static 'fa/css/all.min.css' %}" media="screen" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>Margem Frontal - Contactos</title>

</head>

<body class="container-footer">

{% include "navbar.html" %}

<div class="container-fluid text-center col-10 col-md-8 my-3 py-3">
    <h1 class="contact-h1">{% trans 'Margem Frontal' %}</h1>
    <h1 class="contact-h1">{% trans 'CONSTRUÇÃO&nbsp;e' %}</h1>
    <h1 class="contact-h1">{% trans 'REABILITAÇÃO' %}</h1>
</div>

<div id="portfolio" class="service-content-container container-fluid py-5 justify-content-center row">
        <div class="col-10 col-md-10 col-lg-8">
            <div class="pb-5">
                <b class="service-list-title">{% trans 'Serviços:' %}</b>
                <ul class="service-list-items">
                    <li>{% trans "Construção de imóveis" %}</li>
                    <li>{% trans "Remodelação de imóveis" %}</li>
                    <li>{% trans "Ampliação de imóveis" %}</li>
                    <li>{% trans "Caixilharias de Alumínio" %}</li>
                    <li>{% trans "Energias Renováveis" %}</li>
                </ul>
                
            </div>
            
            <div class"container" style="position: relative;">
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-4">
                        <img src="{% static 'img/construction/1.jpg' %}" class="img-fluid" id="portfolio_img1" onclick="portfolio_overlay_open(1);">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-4">
                        <img src="{% static 'img/construction/2.jpg' %}" class="img-fluid" id="portfolio_img2" onclick="portfolio_overlay_open(2);">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-4">
                        <img src="{% static 'img/construction/3.jpg' %}" class="img-fluid" id="portfolio_img3" onclick="portfolio_overlay_open(3);">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-4">
                        <img src="{% static 'img/construction/4.jpg' %}" class="img-fluid" id="portfolio_img4" onclick="portfolio_overlay_open(4);">
                    </div>
                </div>
            </div>
        </div>
</div>
{% include 'contacts.html' %}


{% include 'footer.html'%}

</body>

</html>