{% load static %}
{% load i18n %}

<p class="services-text text-justify">{% blocktrans %}Conheça a vasta gama de produtos
                                                            que temos à sua disposição
                                                            com garantia de uma elevada
                                                            qualidade.{% endblocktrans %}</p>

                        <p class="dropdown-toggle services-collapse-dropdown-text" data-toggle="collapse" href="#collapseServices1" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Produtos Biológicos
                        </p>
                        <div class="collapse" id="collapseServices1">
                            <ul>
                                <li>Sabão e Perfumaria</li>
                                <li>Refeições pré-cozinhadas</li>
                                <li>Produtos lácteos</li>
                                <li>Presunto</li>
                                <li>Molhos e Vinagres</li>
                                <li>Mel</li>
                                <li>Legumes e Vegetais em conserva</li>
                                <li>Frutas</li>
                                <li>Legumes</li>
                                <li>Fatiados</li>
                                <li>Conservas de Peixe</li>
                                <li>Compotas em tubo</li>
                                <li>Bacalhau congelado</li>
                                <li>Bacalhau gourmet</li>
                                <li>Bacalhau seco e salgado</li>
                                <li>Bacalhau semi seco</li>
                                <li>Outros peixes</li>
                                <li>Azeitonas</li>
                                <li>Azeite</li>
                            </ul>
                        </div>
                        <p class="dropdown-toggle services-collapse-dropdown-text" data-toggle="collapse" href="#collapseServices2" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Bebidas
                        </p>
                        <div class="collapse" id="collapseServices2">

                            <ul>
                            <li>Refrigerantes</li>
                            <li>Vinho regional</li>
                            <li>Vinho Verde</li>
                            <li>Vinho do Tejo</li>
                            <li>Vinho do Porto</li>
                            <li>Vinho do Douro</li>
                            <li>Vinho do Alentejo</li>
                            <li>Cerveja Artesanal</li>
                            <li>Água mineral</li>
                            </ul>
                        </div>
                        <p class="dropdown-toggle services-collapse-dropdown-text" data-toggle="collapse" href="#collapseServices3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Peças para Aeronaves
                        </p>
                        <div class="collapse" id="collapseServices3">
                            <ul>
                                <li>Aviões comerciais</li>
                                <li>Aviões militares</li>
                                <li>Helicópteros comerciais</li>
                                <li>Aeronave LA-8</li>
                                <li>Aeronave Boney</li>
                                <li>Aeronave Sila 450C</li>
                                <li>Aeronave Sila 750MT</li>
                                <li>Aeronave Sila 750</li>
                                <li>Manutenção de aeronaves</li>
                            </ul>
                        </div>