{% load static %}
{% load i18n %}

<p class="services-text text-justify">{% blocktrans %}Investimentos imobiliários ao
                                                            longo de várias áreas de serviço.{% endblocktrans %}<br>{% blocktrans %}
                                                            <b class="services-text-bold">Investimentos</b> e <b class="services-text-bold">vendas</b> na
                                                            área da <b class="services-text-bold">Saúde, Geriatria, Energias
                                                            Renováveis, Hotelaria, Vinícola </b> e em outras
                                                            áreas.{% endblocktrans %}<br>{% blocktrans %}
                                                            Investimentos Imobiliários
                                                            para <b class="services-text-bold">compradores internacionais</b>.
                                                            {% endblocktrans %}</p>