{% load static %}
{% load i18n %}

<p class="services-text text-left mb-1">{% blocktrans %}Garantimos sempre a melhor
                                                relação na Construção, Remodelação
                                                ou Ampliação do seu
                                                imóvel.{% endblocktrans %}<br>{% blocktrans %}
                                                Temos soluções construtivas
                                                que vão desde o tradicional às
                                                soluções mais avançadas, ao
                                                melhor preço e sem preocupações.{% endblocktrans %}</p>