{% load static %}
{% load i18n %}

<p class="services-text text-justify">{% blocktrans %}Investimentos imobiliários ao
                                                            longo de várias áreas de serviço.<br>
                                                            Investimentos e vendas na
                                                            área da Saúde, Geriatria, Energias
                                                            Renováveis e em outras
                                                            áreas.{% endblocktrans %}</p>