{% load static %}
{% load i18n %}

<p class="services-text text-justify">{% blocktrans %}Protege o que realmente importa,
                                                                para si, para a sua família
                                                                e para a sua empresa.<br>
                                                                Sabemos que os ladrões controlam
                                                                os seus movimentos na
                                                                sua casa ou no seu local de trabalho.<br>
                                                                Os nossos serviços de segurança
                                                                incluem alarmes, portas,
                                                                CCTV e caixilharias de alumínio{% endblocktrans %}</p>