{% load static %}
{% load i18n %}

<p class="services-text text-left">{% blocktrans %}Conheça a vasta gama de produtos
                                                            que temos à sua disposição
                                                            com garantia de uma elevada
                                                            qualidade.{% endblocktrans %}</p>

                        <p class="dropdown-toggle services-collapse-dropdown-title" type="button" data-toggle="collapse" data-target="#collapseServices1" href="#collapseServices1" role="button" aria-expanded="false" aria-controls="collapseServices1">
                            {% trans "Produtos Biológicos" %}
                        </p>
                        <div class="collapse" id="collapseServices1" >
                            <ul class="services-collapse-dropdown-text">
                                <li>{% trans "Produtos lácteos" %}</li>
                                <li>{% trans "Presunto" %}</li>
                                <li>{% trans "Molhos e Vinagres" %}</li>
                                <li>{% trans "Mel" %}</li>
                                <li>{% trans "Legumes e Vegetais em conserva" %}</li>
                                <li>{% trans "Frutas" %}</li>
                                <li>{% trans "Legumes" %}</li>
                                <li>{% trans "Fatiados" %}</li>
                                <li>{% trans "Conservas de Peixe" %}</li>
                                <li>{% trans "Compotas em tubo" %}</li>
                                <li>{% trans "Bacalhau congelado" %}</li>
                                <li>{% trans "Bacalhau gourmet" %}</li>
                                <li>{% trans "Bacalhau seco e salgado" %}</li>
                                <li>{% trans "Bacalhau semi seco" %}</li>
                                <li>{% trans "Outros peixes" %}</li>
                                <li>{% trans "Azeitonas" %}</li>
                                <li>{% trans "Azeite" %}</li>
                                <li class="pt-1">{% trans "Sabão e Perfumaria" %}</li>
                                <li class="pt-1">{% trans "Refeições pré-cozinhadas" %}</li>
                            </ul>
                        </div>
                        <p class="dropdown-toggle services-collapse-dropdown-title" type="button" data-toggle="collapse" data-target="#collapseServices2" href="#collapseServices2" role="button" aria-expanded="false" aria-controls="collapseServices2">
                            {% trans "Bebidas" %}
                        </p>
                        <div class="collapse" id="collapseServices2">

                            <ul class="services-collapse-dropdown-text">
                            <li>{% trans "Refrigerantes" %}</li>
                            <li>{% trans "Vinho regional" %}</li>
                            <li>{% trans "Vinho Verde" %}</li>
                            <li>{% trans "Vinho do Tejo" %}</li>
                            <li>{% trans "Vinho do Porto" %}</li>
                            <li>{% trans "Vinho do Douro" %}</li>
                            <li>{% trans "Vinho do Alentejo" %}</li>
                            <li>{% trans "Cerveja Artesanal" %}</li>
                            <li>{% trans "Água mineral" %}</li>
                            </ul>
                        </div>
                        <p class="dropdown-toggle services-collapse-dropdown-title" type="button" data-toggle="collapse" data-target="#collapseServices3" href="#collapseServices3" role="button" aria-expanded="false" aria-controls="collapseServices3">
                            {% trans "Peças para Aeronaves" %}
                        </p>
                        <div class="collapse" id="collapseServices3">
                            <ul class="services-collapse-dropdown-text">
                                <li>{% trans "Aviões comerciais" %}</li>
                                <li>{% trans "Aviões militares" %}</li>
                                <li>{% trans "Helicópteros comerciais" %}</li>
                                <li>{% trans "Aeronave LA-8" %}</li>
                                <li>{% trans "Aeronave Boney" %}</li>
                                <li>{% trans "Aeronave Sila 450C" %}</li>
                                <li>{% trans "Aeronave Sila 750MT" %}</li>
                                <li>{% trans "Aeronave Sila 750" %}</li>
                                <li>{% trans "Manutenção de aeronaves" %}</li>
                            </ul>
                        </div>