{% load static %}
{% load i18n %}

<!-- Contactos 2 (contacts) -->
<div class="container-fluid container-contacts">
    <div class="col-md-12 col-xs-12 justify-content-center text-center py-3">
        <h4 class="contact-h4">{%trans "CONTACTOS"%} A. COUTO</h4>
        <div class="text-21pt-white">
            <i class="fas fa-phone-alt contact-icon"></i>
            +351 963 270 400<br>++351 965 081 994
            <br>
            <i class="far fa-envelope contact-icon"></i> invest.general21@gmail.com
        </div>
        <h3 class="contact-h4 pt-5">PORTO - PORTUGAL</h3>
    </div>
</div>