{% load static %}
{% load i18n %}

<p class="services-text text-justify mb-1">{% blocktrans %}Garantimos sempre a melhor
                                                relação na Construção, Remodelação
                                                ou Ampliação do seu
                                                imóvel.<br>
                                                Temos soluções construtivas
                                                que vão desde o tradicional às
                                                soluções mais avançadas, ao
                                                melhor preço e sem preocupações.{% endblocktrans %}</p>