{% load static %}
{% load i18n %}

<p class="services-text text-justify">{% blocktrans %}Exportações e importações, levamos
                                                            até si uma vasta gama
                                                            de produtos de elevada qualidade,
                                                            facilitando o acesso a
                                                            produtos internacionais com
                                                            uma relação qualidade / preço,
                                                            altamente competitiva.{% endblocktrans %}</p>