{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jmap/jqvmap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link href="{% static 'fa/css/all.min.css' %}" media="screen" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'jmap/jquery.vmap.js' %}"></script>
    <script src="{% static 'jmap/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'jmap/js/jquery.vmap.sampledata.js' %}"></script>


    <script>
      jQuery(document).ready(function () {
        jQuery('#vmap').vectorMap({
        map: 'world_en',
        backgroundColor: '#143867',
        borderColor: '#818181',
        borderOpacity: 0.25,
        borderWidth: 1,
        color: '#f4f3f0',
        enableZoom: true,
        hoverColor: '#C46161',
        hoverOpacity: null,
        normalizeFunction: 'linear',
        scaleColors: ['#b6d6ff', '#005ace'],
        selectedColor: '#c20000',
        selectedRegions: ['PT','AO','AR','BR','CI','ES','FR','GN','GB','PE','SN','MZ','UY'],
        showTooltip: true,
        onRegionClick: function(event, code, region)
        {
            event.preventDefault();
            event.stopPropagation();
            var Regions = ['PT','AO','AR','BR','CI','ES','FR','GN','GB','PE','SN','MZ','UY'];
            
            if( Regions.indexOf(code.toUpperCase()) != -1 ){
                if( $('#map_overlay').is(":hidden") ){
                    $('#map_overlay').show();
                 }
                $('#map_overlay_img').attr('src', 'static/img/countries/'+code+'.jpg');
                $('#map_overlay_text').text(region);
            }

          
        },
        onRegionOver: function(event, code)
        {
        }
        });
      });
    </script>

    <script>
    $(document).ready(function(){
        $("#map_overlay").hide();// hide it initially
            $('#close_map_overlay').click(function(){
                $("#map_overlay").hide();                            
            });
            $("#portfolio_overlay").hide();// hide it initially
            $('#close_portfolio_overlay').click(function(){
                $("#portfolio_overlay").hide();                            
            });
        });
    </script>
    <script>
    //function portfolio_overlay_open(imgid){
    //    $("#portfolio_overlay").show();
    //    $('#portfolio_overlay_img').attr('src', 'static/img/grid/'+imgid+'.jpg');                            
    //}
    </script>


    <title>Margem Frontal</title>

</head>

<body>

    <!-- NAV BAR -->
    {% include "navbar.html" %}

    {% ifequal alert "success" %}
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
    {% trans 'Formulário submetido com sucesso!' %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endifequal %}
    {% ifequal alert "fail" %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% trans 'Formulário inválido, por favor verifique os dados e tente novamente!' %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endifequal %}
         
    <!-- WORLD MAP -->
    <!-- Regions https://github.com/10bestdesign/jqvmap/blob/master/REGIONS.md-->
    
    {% include "overview.html" %}

    <!-- SOBRE NOS (About us)-->
    {% include 'about.html' %}

    <!-- SERVICOS (Services)-->
    {% include 'services.html'%}

    <!-- CARREIRA (career)-->
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'pt-pt' %}
    <div class="container-fluid pt-5 pb-5">
        <div class="col text-center mb-3">
            <h2>OPORTUNIDADE DE CARREIRA OU PARCERIA</h2>
        </div>
        <div class="col text-center text-oportunities pb-3">
        Quer fazer parte de uma equipa de profissionais de excelência?<br>
        Junte-se à <b class="oportunities-text-bold">Margem Frontal</b>.<br>
        Entre em contacto connosco, não perca a oportunidade.<br>
        </div>
        <div class="col text-center">
            <a href="{% url 'oportunidades' %}" class="btn btn-primary oportunities-button" >Oportunidades</a>
        </div>
    </div>
    {% endif %}


    {% include 'contacts.html' %}

    {% include 'footer.html'%}
</body>

</html>