{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
        <div class="container">
             <!-- logo png -->
            <a class="navbar-brand" href="{% url 'index' %}">
		        <img src="{% static 'img/logo.svg' %}" class="navbar-logo" alt="logo">
		    </a>
		    <!-- end logo png -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars navbar-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4">
                        <a class="nav-link navbar-text" href="#about">{%trans "Sobre nós"%}</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link navbar-text" href="#services">{%trans "Serviços"%}</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link navbar-text" href="#portfolio">{%trans "Portefólio"%}</a>
                    </li>
                    <li class="nav-item pr-5">
                        <a class="nav-link navbar-text" href="#contacts">{%trans "Contactos"%}</a>
                    </li>
                    <li class="nav-item">
                        <form name="lang" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden"/>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_language_info for LANGUAGE_CODE as lang %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <ul class="list-inline">
                        {% for language in languages %}
                            <li class="list-inline-item navbar-lang-item">
                                <a class="nav-link navbar-text" href="#" onclick="document.lang.language.value='{{ language.code}}'; document.lang.submit();">{{language.code|upper}}</a>
                            </li>
                        {% endfor %}
                        </ul>  
                    </li>
                
                </ul>
             </div>         
        </div>
    </nav>