{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
        <div class="container">
             <!-- logo png -->
            <a class="navbar-brand" href="{% url 'index' %}">
		        <img src="{% static 'img/logo.svg' %}" class="navbar-logo" alt="logo">
		    </a>
		    <!-- end logo png -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars navbar-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto navbar-right text-center ">
                    <li class="nav-item dropdown pr-4">
                        <a class="nav-link dropdown-toggle navbar-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {%trans "Serviços"%}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item navbar-dropdown-text" href="{% url 'security' %}">{%trans "Segurança"%}</a>
                            <a class="dropdown-item navbar-dropdown-text" href="{% url 'construction' %}">{%trans "Construção&nbsp;e Reabilitação"%}</a>
                            <a class="dropdown-item navbar-dropdown-text" href="{% url 'houses' %}">{%trans "Imobiliária"%}</a>
                            <a class="dropdown-item navbar-dropdown-text" href="{% url 'food' %}">{%trans "Alimentar"%}</a>
                        </div>
                    </li>
                    <li class="nav-item pr-4">
                        <a class="nav-link navbar-text" href="{% url 'contact' %}">{%trans "Contactos"%}</a>
                    </li>
                    <li class="mx-auto pr-4">
                        <form name="lang" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" />
                        <input name="language" type="hidden"/>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_language_info for LANGUAGE_CODE as lang %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <div class="flex-list">
                        <ul class="list-inline">
                        {% for language in languages %}

                            <li class="list-inline-item navbar-lang-item"> 
                                {% if language.code in LANGUAGE_CODE %}
                                <a class="nav-link text-white navbar-lang-item-active" href="#" onclick="document.lang.language.value='{{ language.code}}'; document.lang.submit();">{{language.code|upper}}</a>
                                {% else %}
                                <a class="nav-link text-white" href="#" onclick="document.lang.language.value='{{ language.code}}'; document.lang.submit();">{{language.code|upper}}</a>
                                 {% endif %}
                            </li>
                        {% endfor %}
                        </ul> 
                        </div>
                        </form> 
                    </li>
                
                </ul>
             </div>         
        </div>
    </nav>