{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jmap/jqvmap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link href="{% static 'fa/css/all.min.css' %}" media="screen" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>Margem Frontal - Oportunidades</title>

</head>

<body class="container-footer">

{% include "navbar.html" %}

{% ifequal alert "success" %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
{{alertmsg}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>
{% endifequal %}
{% ifequal alert "fail" %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
{{alertmsg}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>
{% endifequal %}


<div id="oportunities" class="container-fluid container-oportunities pt-5 pb-5">
    <div class="row justify-content-center">
    <div class="col-10 col-lg-10">
        <h2 class="text-center pb-5">OPORTUNIDADE DE <br>CARREIRA OU PARCERIA</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row justify-content-center">
                    <div class="col-md-8 mb-3">
                        <label for="{{ form.Name.id_for_label }}" class="oportunities-form-text">Nome:</label>
                        <input type="text" class="form-control contact-form-field" id="{{ form.Name.id_for_label }}" name="{{ form.Name.html_name }}" maxlength="{{ form.Name.field.max_length }}" required="" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row justify-content-center">
                    <div class="col-md-8 mb-3">
                        <label for="{{ form.Email.id_for_label }}" class="oportunities-form-text">Email:</label>
                        <input type="email" class="form-control contact-form-field" id="{{ form.Email.id_for_label }}" name="{{ form.Email.html_name }}" maxlength="{{ form.Email.field.max_length }}" required="">
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="{{ form.DistrictHome.id_for_label }}" class="oportunities-form-text">Distrito onde vive</label>
                        <input type="text" class="form-control contact-form-field" id="{{ form.DistrictHome.id_for_label }}" name="{{ form.DistrictHome.html_name }}" maxlength="{{ form.DistrictHome.field.max_length }}"required="" >
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <div class="form-group">
                        <label for="{{ form.DistrictWork.id_for_label }}" class="oportunities-form-text">Distrito onde pretende colaborar</label>
                        <input type="text" class="form-control contact-form-field" id="{{ form.DistrictWork.id_for_label }}" name="{{ form.DistrictWork.html_name }}" maxlength="{{ form.DistrictWork.field.max_length }}" required="" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row justify-content-center">
                    <div class="col-md-8 mb-3">
                        <label for="{{ form.Preference.id_for_label }}" class="oportunities-form-text">Preferência</label>
                        <select class="form-control" id="{{ form.Preference.id_for_label }}" name="{{ form.Preference.html_name }}" maxlength="{{ form.Preference.field.max_length }}">
                            <option selected="selected">Diretor Comercial</option>
                            <option>Consultor</option>
                            <option>Comissionista</option>
                            <option>Técnico</option>
                            <option>Outros</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row justify-content-center">
                    <div class="col-md-8 mb-3">
                        <label for="{{ form.Service.id_for_label }}" class="oportunities-form-text">Serviços onde pretende colaborar</label>
                        <select class="form-control" id="{{ form.Service.id_for_label }}" name="{{ form.Service.html_name }}" maxlength="{{ form.Service.field.max_length }}" >
                            <option selected="selected">Mediação de Obras</option>
                            <option>Alarmes e Portas</option>
                            <option>Produtos, Alimentos e Bebidas</option>
                            <option>Investimento Imobiliário</option>
                            <option>Outros</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row justify-content-center">
                    <div class="col-md-8 mb-3">
                        <label for="{{ form.Message.id_for_label }}" class="oportunities-form-text" >Mensagem</label>
                        <textarea rows="5" type="text" class="form-control contact-form-field" id="{{ form.Message.id_for_label }}" name="{{ form.Message.html_name }}" maxlength="{{ form.Message.field.max_length }}" required=""></textarea> 
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row justify-content-center">
                    <div class="col-md-8 mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
                            <label class="form-check-label oportunities-form-text" for="defaultCheck1">
                                Aceito fornecer os meus dados à Margem Frontal em ordem a receber
informações e possíveis oportunidades
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <button class="btn btn-primary contact-button" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    </div>
</div>


<!-- Copyright -->
    <div class="container-fluid container-footer footer-copyright text-center pt-5 py-3">
    <p class="copyright-text">© 2020
        <a href="https://margemfrontal.com/"> Margem Frontal</a> - Todos os direitos reservados</p>
    </div>
<!-- Copyright -->


</body>

</html>