{% load static %}
{% load i18n %}

 <div id="portfolio" class="container-fluid pt-3 pb-2">
        <h2 class="text-center pb-5">{%trans "PORTEFÓLIO"%}</h2>
        <!--<div id="portfolio_overlay" class="map-overlay">
                <i id="close_map_overlay" class="map-overlay-img fa fa-window-close p-4 position-absolute top-0 right-0"></i>
                <p id="map_overlay_text" class="map-overlay-text text-center pt-4">Portugal</p>
                <img id="map_overlay_img" class="map-overlay-img d-block img-fluid px-4 pt-2" src="{% static 'img/countries/pt.jpg' %}" alt="Argentina">
            </div>-->
           <div class="row">
                <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/1.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/2.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/3.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/4.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/5.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/6.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/7.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/8.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/9.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/10.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/11.jpg' %}" class="img-fluid">
                </div>
                 <div class="col-4 col-sm-4 col-md-3 col-lg-3 pb-4">
                    <img src="{% static 'img/grid/12.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
