{% load static %}
{% load i18n %}

    <div id="services" class="container-fluid mt-2 mb-2 pt-2 pb-3 ">
        <h2 class="text-center pb-5">{%trans "SERVIÇOS"%}</h2>
        <div class="d-none d-sm-block">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-7">
                    <div class="row">
                        <div class="square" onclick="location.href='{% url 'security'%}';" >
                            <div class="content">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="text-center">
                                            <img  src="{% static 'img/services/1.svg' %}" class="rs"><br>
                                            <p class="services-title-bold">{%trans "Margem Frontal"%}<br>
                                            <b class="services-title-extrabold">{%trans "SEGURANÇA"%}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="square" onclick="location.href='{% url 'construction'%}';">
                            <div class="content">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="text-center">
                                            <img  src="{% static 'img/services/2.svg' %}" class="rs"><br>
                                            <p class="services-title-bold">{%trans "Margem Frontal"%}<br>
                                            <b class="services-title-extrabold">{%trans "CONSTRUÇÃO&nbsp;e "%}{%trans "REABILITAÇÃO"%}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="square" onclick="location.href='{% url 'houses'%}';" >
                            <div class="content">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="text-center">
                                            <img src="{% static 'img/services/3.svg' %}" class="rs"><br>
                                            <p class="services-title-bold">{%trans "Margem Frontal"%}<br>
                                            <b class="services-title-extrabold ">{%trans "IMOBILIÁRIA"%}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="square" onclick="location.href='{% url 'food'%}';" >
                            <div class="content">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="text-center">
                                            <img  src="{% static 'img/services/4.svg' %}" class="rs"><br>
                                            <p class="services-title-bold">{%trans "Margem Frontal"%}<br>
                                            <b class="services-title-extrabold">{%trans "ALIMENTAR"%}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="container justify-content-center d-block d-sm-none">
            <div class="col">
                <p><a class="btn services-button text-21pt-white" data-toggle="collapse" href="#collapseService1" role="button">
                    <img class="services-collapse-icon" src="{% static 'img/services/1.svg' %}"></img>{%trans "Segurança"%}
                </a></p>
                <p><a class="btn services-button text-21pt-white" data-toggle="collapse" href="#collapseService2" role="button">
                    <img class="services-collapse-icon" src="{% static 'img/services/2.svg' %}"></img>{%trans "Construção&nbsp;e Reabilitação"%}
                </a></p>
                <p><a class="btn services-button text-21pt-white" data-toggle="collapse" href="#collapseService3" role="button">
                    <img class="services-collapse-icon" src="{% static 'img/services/3.svg' %}"></img>{%trans "Imobiliária"%}
                </a></p>
                <p><a class="btn services-button text-21pt-white" data-toggle="collapse" href="#collapseService4" role="button">
                    <img class="services-collapse-icon" src="{% static 'img/services/4.svg' %}"></img>{%trans "Alimentar"%}
                </a></p>
            </div>
        </div>

    </div>

