/* Fonts */

@font-face {
    font-family: 'MontSerrat';
    font-style: normal;
    src: local('MontSerrat'), url('/static/fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MontSerrat-Bold';
    font-style: normal;
    src: local('MontSerrat-Bold'), url('/static/fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'MontSerrat-Black';
    font-style: normal;
    src: local('MontSerrat-Black'), url('/static/fonts/Montserrat-Black.otf') format('opentype');
}


/* Headings */

h2 {
    color: #C20000;
    font-family: MontSerrat-Black;
    font-weight: bold;
}


/* Bootstrap hacks */
.container-fluid {
    padding: 0px;
}

/* Navbar */


.navbar-custom {
    background-color: #C20000;
}

.navbar-logo {
    width: 50px;
    height: auto;
}

.navbar-text {
    color: #ffffff;
    font-family: MontSerrat-Bold;
}

.navbar-lang-text {
    
    font-family: MontSerrat;
}

.navbar-lang-item {
    color: #ffffff;
    font-family: MontSerrat-Bold;
    margin-right: -10px;
    margin-left: -10px;
}

.navbar-lang-item .active {
    color: #ffffff;
    font-family: MontSerrat-Bold;
    margin-right: -10px;
    margin-left: -10px;
}

.navbar-bars {
    color: #ffffff;
}

/* Text */


.text-21pt {
    font-family: MontSerrat;
    font-size: 12px;
}

.text-contacts{
    font-family: MontSerrat;
    font-size: 16px;
    color: white;
}

.text-contacts-bold{
    font-family: MontSerrat-Bold;
    font-size: 16px;
    color: white;
}

.text-25pt-bold {
    font-family: MontSerrat-Bold;
    font-size: 25pt;
}

/* Map */

.map-overlay {
    position: absolute;
    right:0;
    opacity: 1;
    background-color: #C20000;
    width:30%;
    height:576px;
}

.map-overlay-text {
    opacity: 1;
    font-family: MontSerrat-Bold;
    font-size: 16px;
    z-index: 1;
    color:white;
}

.map-overlay-img {
    opacity: 1;
    z-index: 1;
    color:white;
}


/* About us */

.about-pic-label {
    color: #143867;
    font-family: MontSerrat;
    font-size: 11px;
}

.about-text {
    color: #143867;
    font-family: MontSerrat;
    font-size: 14px;
}

.about-text-bold {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 14px;
}

.about-subtitle-bold {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 18px;
}

/* Services */

.services-title-bold {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 18px;
}

.services-text {
    color: #143867;
    font-family: MontSerrat;
    font-size: 14px;
}

.services-text-bold {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 14px;
}



.services-button {
    font-family: MontSerrat-Bold;
    background-color: #C20000;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    width: 100%;
}

.services-collapse-border {
    border-color: #C20000;
    border-radius: 15px;
}

.services-collapse-icon
 {
     width: 20px;
     height: 20px;
 }

 .services-collapse-dropdown-title
 {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 15px;
 }

 .services-collapse-dropdown-text
 {
    color: #143867;
    font-family: MontSerrat;
    font-size: 13px;
 }

 /* Portfolio */
 .portfolio-overlay {
    position: absolute;
    right:0;
    opacity: 1;
    background-color: #C20000;
    width:60%;
    height:75%;
    z-index: 1;
}

 /* Oportunities */
 .text-oportunities {
    font-family: MontSerrat;
    font-size: 14px;
}

.oportunities-button {
    font-family: MontSerrat-Bold;
    background-color: #C20000;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    width: 140px;
}

.oportunities-button:hover {
    background-color: #C46161;
    color: white;
}

.oportunities-text-bold {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 14px;
}


/* Contacts container */

.contact-form-text {
    font-family: MontSerrat;
    color: #ffffff;
}

.contact-form-field {
    border-radius: 15px;
}

.contact-button {
    font-family: MontSerrat-Bold;
    background-color: #C20000;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    width: 140px;
}

.contact-button:hover {
    background-color: #C46161;
    color: white;
}

.contact-h4 {
    font-family: MontSerrat-Bold;
    color: #ffffff;
}

.contact-icon {
    color: #ffffff;
}

.container-contacts {
    background-color: #143867;
}


/* Footer */

.container-footer {
    background-color: #143867;
}

.copyright-text {
    font-family: MontSerrat;
    font-size: 12px;
    color: #ffffff;
}

.copyright-text a {
    color: #ffffff;
}
