/* Fonts */

@font-face {
    font-family: 'MontSerrat';
    font-style: normal;
    src: local('MontSerrat'), url('/static/fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MontSerrat-Bold';
    font-style: normal;
    src: local('MontSerrat-Bold'), url('/static/fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'MontSerrat-ExtraBold';
    font-style: normal;
    src: local('MontSerrat-ExtraBold'), url('/static/fonts/Montserrat-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'MontSerrat-Black';
    font-style: normal;
    src: local('MontSerrat-Black'), url('/static/fonts/Montserrat-Black.otf') format('opentype');
}



/* Headings */

h2 {
    color: #C20000;
    font-family: MontSerrat-Black;
    font-weight: bold;
}


/* Bootstrap hacks */
.container-fluid {
    padding: 0px;
}

/* Navbar */


.navbar-custom {
    background-color: #C20000;
}

.navbar-logo {
    width: 50px;
    height: auto;
}

.navbar-text {
    color: #ffffff;
    font-family: MontSerrat-Bold;
}

.navbar-dropdown-text {
    font-family: MontSerrat-Bold;
    color: #143867;
}

.navbar-text:hover {
    color: #486d9c;
}

.navbar-lang-text {
    
    font-family: MontSerrat;
}

.navbar-lang-item {
    color: #ffffff;
    font-family: MontSerrat;
    margin-right: -10px;
    margin-left: -10px;

}

.navbar-lang-item-active {
    color: #ffffff;
    font-family: MontSerrat-Bold;
}

.navbar-bars {
    color: #ffffff;
}

/* Text */

.text-21pt {
    font-family: MontSerrat;
    font-size: 12px;
}

.text-contacts{
    font-family: MontSerrat;
    font-size: 16px;
    color: white;
}

.text-contacts-bold{
    font-family: MontSerrat-Bold;
    font-size: 16px;
    color: white;
}

.text-25pt-bold {
    font-family: MontSerrat-Bold;
    font-size: 25pt;
}

/* Map */


.map-overlay {
    position: absolute;
    right:0;
    opacity: 1;
    background-color: #C20000;
    width:30%;
    height:576px;
}

.map-overlay-text {
    opacity: 1;
    font-family: MontSerrat-Bold;
    font-size: 16px;
    color:white;
}

.map-overlay-img {
    opacity: 1;
    max-height: 480px;
    color:white;
}


/* About us */

.about-pic-label {
    color: #143867;
    font-family: MontSerrat;
    font-size: 11px;
}

.about-text {
    color: #143867;
    font-family: MontSerrat;
    font-size: 14px;
}

.about-text-bold {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 14px;
}

.about-subtitle-bold {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 18px;
}

/* Services */


.square {
    float:left;
    position: relative;
    width: 23%;
    padding-bottom : 23%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-color:#C20000;
    overflow:hidden;
    cursor:pointer;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    left:5%;
    top:5%;
    
}


/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:60%;
    max-width:60%;
}

.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}

.service-square {
    background-color: #C20000;
}

.services-title-bold {
    color: white;
    font-family: MontSerrat-Bold;
}

.services-title-extrabold {
    color: white;
    font-family: MontSerrat-ExtraBold;
}



.service-list-title {
    font-size: 1.1em;
    color: #143867;
    font-family: MontSerrat-Bold;
	cursor: pointer;
}

.service-list-items {
    font-size: 0.8em;
    color: #143867;
    font-family: MontSerrat;
}

.service-content-container {
    background-color: white;
}

.services-text {
    color: #143867;
    font-family: MontSerrat;
    font-size: 14px;
    /*word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;*/
}

.services-text-bold {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 14px;
}

/* flex box for language list */
.flex-list {
    position: relative;
    overflow: hidden;
    padding-left: 0.3em;
    padding-right: 0.3em;
    /*outline: 3px dashed black;*/
}
.flex-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0.1em;
    padding-right: 0.1em;

}

.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    border-left: 1px solid white;
    padding-left: 0.4em;
    padding-right: 0.4em;
    /*outline: 3px dashed green;*/
}

.services-button {
    font-family: MontSerrat-Bold;
    background-color: #C20000;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    width: 100%;
}

.services-collapse-border {
    border-color: #C20000;
    border-radius: 15px;
}

.services-collapse-icon
 {
     width: 20px;
     height: 20px;
 }

 .services-collapse-dropdown-title
 {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 15px;
	cursor: pointer;
 }

 .services-collapse-dropdown-text
 {
    color: #143867;
    font-family: MontSerrat;
    font-size: 13px;
 }

 @media screen and (min-width: 701px) {

    .service-list-title {
        font-size: 1.5em;
    }
    
    .service-list-items {
        font-size: 1.1em;
    }
  }

@media screen and (min-width: 1101px)  {
    .services-title-bold {
        font-size: 1em;
        line-height: 1.2em;
    }

    .services-title-extrabold {
        font-size: 1em;
        line-height: 1.2em;
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .services-title-bold {
        font-size: 1em;
        line-height: 1.2em;
    }

    .services-title-extrabold {
        font-size: 1em;
        line-height: 1.2em;
    }
}

@media screen and (max-width: 900px) {
    .services-title-bold {
        font-size: 0.8em;
        line-height: 0.9em;
    }

    .services-title-extrabold {
        font-size: 0.8em;
        line-height: 0.9em;
    }
}
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 700px) {

    .service-list-title {
        font-size: 1.1em;
    }
    
    .service-list-items {
        font-size: 0.9em;
    }

  }

 /* Portfolio */

 .portfolio-overlay {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    bottom:0;
    right:0;
    opacity: 1;
    background-color: #C20000;
    width:75%;
    height:75%;
    max-height: 85%;
    
}

.portfolio-overlay-text {
    opacity: 1;
    font-family: MontSerrat-Bold;
    font-size: 16px;
    color:white;
}

.portfolio-overlay-img {
    opacity: 1;
    max-width: 90%;
    max-height: 90%;
    color:white;
}

 /* Oportunities */

 .container-oportunities {
    background-color: #143867;
}



 .text-oportunities {
    font-family: MontSerrat;
    font-size: 14px;
}

.oportunities-form-text {
    font-family: MontSerrat;
    color: white;
}

.oportunities-button {
    font-family: MontSerrat-Bold;
    background-color: #C20000;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    width: 140px;
}

.oportunities-button:hover {
    background-color: #C46161;
    color: white;
}

.oportunities-text-bold {
    color: #143867;
    font-family: MontSerrat-Bold;
    font-size: 14px;
}


/* Contacts container */

.contact-form-text {
    font-family: MontSerrat;
    color: #143867;
}

.contact-form-field {
    border-radius: 15px;
    border: 2px solid #143867;

}

.contact-button {
    font-family: MontSerrat-Bold;
    background-color: #C20000;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    width: 140px;
}

.contact-button:hover {
    background-color: #C46161;
    color: white;
}

.contact-h1 {
    font-family: MontSerrat-ExtraBold;
    color: white;
}

@media screen and (min-width: 701px) {
    .contact-h1 {
        font-size: 5em;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 700px) {
    .contact-h1 {
        font-size: 3em;
    }
  }

.contact-h4 {
    font-family: MontSerrat-Bold;
    color: #C20000;
}

.contact-countries-h4 {
    font-family: MontSerrat-Bold;
    color: white;
}

.contact-icon {
    color: #ffffff;
}

.container-contacts {
    background-color: #143867;
}

.container-contacts-form {
    background-color: white;
}

.container-contact-text {
    background-color: white;
}


/* Footer */

.container-footer {
    background-color: #143867;
}

.copyright-text {
    font-family: MontSerrat;
    font-size: 12px;
    color: #ffffff;
}

.copyright-text a {
    color: #ffffff;
}
